/* body{ background-color: #E7E6E1; } */

#canvas{border:1px solid rgb(10, 0, 0);
}
/* .image{
    width: 500px;
    height: 500px;
} */

#canvas1{border:1px solid rgb(10, 0, 0);
}
.title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 4px;
}



.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:1px solid rgb(10, 0, 0);
}
.gallery__item--0 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 1;
    font-size: 40px;

}
.gallery__item--0_0 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start:1;
    grid-row-end: 1;
    font-size: 30px;

}
.gallery__item--0_2 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start:2;
  grid-row-end: 3;
  font-size: 30px;
  margin-left: 150px;
  margin-top: 60px;


}
.gallery__item--0_9 {
  grid-column-start:5;
  grid-column-end: 5;
  grid-row-start:6;
  grid-row-end: 6;
  font-size: 30px;
  margin-left: 150px;
  margin-top: 60px;

}

.gallery__item--8_0 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start:5;
  grid-row-end: 5;
  font-size: 30px;

}

.gallery__item--0_1 {
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end: 1;
  font-size: 37px;

}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.gallery__item--3_0 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 40px;

}
.gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 3;

}


.gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:5;
    grid-row-end: 8;
    font-size: 40px;

}
.gallery__item--8_1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:5;
  grid-row-end: 8;
  font-size: 37px;
  z-index: 999;

}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start:6;
    grid-row-end: 12;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery__item--6_0 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start:5;
  grid-row-end: 5;
    font-size: 40px;
}

.gallery__item--6{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    margin-right: 0px;

}



  select {
    margin-top: 10px;
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid currentcolor; 
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    font-size: 20px;

  }





  .custom-file-input {
    color: transparent;
    z-index: 999;

  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Choose Files';
    color: #eee;
    display: inline-block;
    background-color: #a42424;
    border: none;
    border-radius: 3px;
    padding: 10px 25px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 15px;
  }




  /* .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  } */




  .rounded-button {
    
    width: 50px;
    height: 50px;
    background: #a42424;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    /* transition: background 0.2s; */
  }
  
  .rounded-button:hover {
    background: #a53939;
  }

  
  .buttons{
  display: flex;
   flex-direction: column;
   gap:20px;

  }



  input[type="submit"] {
    background-color: #a42424;
    color: #eee;
    padding: 15px 25px;
    border: none;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;



  }
  
  input[type="submit"]:hover {
     background-color: #a53939;
  }


.option{
  background-color: #a42424;
  border: none;
  border-radius: 3px;
  color: #eee;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;

}

.option:hover {
  background-color: #a53939;
}


.buttons_1{
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-top: 10px;
}

.buttons_2{
  display: flex;
  flex-direction: row;
  gap:20px;
}