<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mixture</title>
    <link rel="stylesheet" href="../static/Style Sheet/style.css" />
    <script src="../static/java script/jquery-3.6.2.min.js"></script>
  </head>

  <body>
      
    <!-- <canvas id="canvas" width=500 height=500   style="background: url('../static/Images/sky.jpg')"></canvas> -->
    <canvas id="canvas" width=500 height=500  ></canvas>

    <script src="../static/java script/main.js"></script>
   
        
    
      
    
  </body>

</html>
