<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Mixer</title>
    <link rel="stylesheet" href="../static/Style Sheet/style.css" />
    <script src="../static/java script/jquery-3.6.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <!-- <script src="https://use.fontawesome.com/3a2eaf6206.js"></script> -->


  </head>

  <body>
    <div class="container">
      <div class="gallery">
        <figure class="gallery__item gallery__item--0">
          <div>Image 1</div>
        </figure>
          <figure class="gallery__item gallery__item--0_1">
            <form method="post" action="/"  enctype="multipart/form-data">
                    <input type="file" name="img1"  class="custom-file-input" onchange="this.parentElement.submit()"> 
                    <input type="file" name="img2" class="custom-file-input" onchange="this.parentElement.submit()" style="display:none;">                
              <!-- <p>
                <input type="submit" value="Upload" class="btn btn-info">
              </p> -->
          </form>

        </figure>
        <figure class="gallery__item gallery__item--0_0">
          <select id="selectbox" data-selected="">
            <option value="1">Phase</option>
            <option value="2">Magnitude</option>
          </select>
        </figure>
          <figure class="gallery__item gallery__item--1">
            {% if img1 %}
              <img  id="btn" src="{{img1}}" alt="Gallery image 1" class="gallery__img">
              {% endif %}

          </figure>
          <figure class="gallery__item gallery__item--2">
            <canvas id="canvas" width=440 height=230   ></canvas>
              <!-- <img src="../static\Images\image2.png" alt="Gallery image 2" class="gallery__img"> -->
          </figure>




          <figure class="gallery__item gallery__item--3_0">
            <div>Image Mixer</div>
          </figure>
          <figure class="gallery__item gallery__item--3">
            <form method="post" action="/" enctype="multipart/form-data">
              <input type="submit" value="Phase1 & Magnitude2" name="1"/>
              <input type="submit" value="Phase2 & Magnitude1" name="2" />
            </form>
          </figure>



            <figure class="gallery__item gallery__item--8_1">

              <form method="post" action="/" enctype="multipart/form-data" >
                       <!-- <input type="file" name="files[]" multiple="true" class="custom-file-input" autocomplete="off" required  onchange="readURL2(this);"> -->
                       <input type="file" name="img2" class="custom-file-input" onchange="this.parentElement.submit()">
                       <input type="file" name="img1" class="custom-file-input" onchange="this.parentElement.submit()" style="display:none;">
              </form>

            </figure>
          <figure class="gallery__item gallery__item--8">
            <div>Image 2</div>
          </figure>
          <!-- <figure class="gallery__item gallery__item--8_0">
            <select id="selectbox" data-selected="">
              <option value="1">Phase</option>
              <option value="2">Magnitude</option>
            </select>
          </figure> -->
          <figure class="gallery__item gallery__item--4">
              <img id="btn2" src="{{img2}}" alt="Gallery image 4" class="gallery__img">

          </figure>
          <figure class="gallery__item gallery__item--7">
            <canvas id="canvas1" width=440 height=230  ></canvas>
            <!-- <img src="../static\Images\image2.png" alt="Gallery image 4" class="gallery__img"> -->
        </figure>
        <figure class="gallery__item gallery__item--6_0">
          <div>Output Image</div>
        </figure>
          <figure class="gallery__item gallery__item--6">
              <img src="../static\Images\output.png" alt="Gallery image 6" class="gallery__img">
          </figure>
      </div>
  </div>

</body>
<script src="../static/java script/main.js"></script>
  
<script src="../static/java script/upload.js"></script>
<script src="../static/java script/second.js"></script>
</html>